Configuratron:
  use_only:
    - ds004504
    - ds003775
    - ds007358
  samples: 2560   # 10 seconds at 256 Hz
  sfreq: 256
  deep1010:
    return_mask: True

validation_dataset: ds007358

augmentation_params:
  upsample_crop: 32
  batch_crop_frac: 0.05

training_params:
  epochs: 10
  validation_interval: 100
  train_log_interval: 100
  batch_size: 32
  warmup_frac: 0.05

mask_threshold: 0.85
mask_inflation: 1.
mask_pct_max: 0.6

optimizer_params:
  lr: 0.00002
  weight_decay: 0.01
  betas: [0.9, 0.98]

bending_college_args:
  mask_rate: 0.065
  mask_span: 10
  layer_drop: 0.01
  multi_gpu: False
  temp: 0.1
  encoder_grad_frac: 0.1
  num_negatives: 20
  enc_feat_l2: 1.0

datasets:
  ds004504:
    toplevel: ./on/ds004504
    stride: 2560
    data_max: 0.001
    data_min: -0.001
    picks:
      - eeg

  ds003775:
    toplevel: ./on/ds003775
    stride: 2560
    data_max: 0.001
    data_min: -0.001
    picks:
      - eeg

  ds007358:
    toplevel: ./on/ds007358
    stride: 2560
    data_max: 0.001
    data_min: -0.001
    picks:
      - eeg
